* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: contain;
}

.footer {
  background-color: #000000;
  color: #fff;
  font-size: 10px;
}

.home {
  background-color: #000000;
  color: #F8F8FF;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.topRight {
  position: absolute;
  top: 25%;
  right: 6%;
  color: #fff;
  font-size: 2em;
}

/*.header {*/
/*  background-color: black;*/
/*}*/

.bar {
  font-size:20px;
  /*color: white;*/
}

.bio {
  width: 100%;
  font-size: 40px;
}

.photoGrid {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.photoGridContainer {
  display: flex;
  justify-content: center;
}

.whoops {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  font-size: 4em;
}







/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
.overall {
  font-size: 36px;
}

.topRight {
    font-size: 56px;
}


}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
.overall {
  font-size: 24px;
}

.topRight {
    font-size:36px;
}

.whoops {
    font-size: 48px;
}

}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 480px) {
.overall {
  font-size: 24px;
}

.topRight {
    font-size: 24px;
}

.whoops {
    font-size: 36px;
}

}